
<!-- /* <===================================================================Part 2- Section================================================================> */ -->

 
/* <!-- --------------Section what-we-do--------------------- --> */

.service {
  flex: 1 1 30%;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 0.8s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.service:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}



/* <!-- <==========================================Part 3- Section====================================================================================> -->
<!-- Section Our results --> */


.result {
  animation: fadeInRight 0.8s ease forwards;
  opacity: 0;
}

@keyframes fadeInRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fill {
  animation: fillBar 2s ease forwards;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: inherit;
  }
}
