body{

    display: flex;
    flex-direction: column;
     
}

body .works_on_smartphone{
  	display: block;
    
  }


main{
    display: flex;
    flex-direction: row;
    flex: auto;
    
   

}

article{
    flex: 2;
    overflow-y: auto;
    
}

aside{
    flex: 1;
    overflow-y: auto;
   
}