body{

    display: flex;
    flex-direction: column;
    background-color: wheat;
     
}

body .works_on_smartphone{
  	display: block;
    
  }


main{
    display: flex;
    flex-direction: row;
    flex: auto;
    
   

}

article{
    flex: 2;
    overflow-y: auto;
    
    
}

aside{
    flex: 1;
    overflow-y: auto;
   
}
.hero{
    color: aqua;
}

.About{
    color: chartreuse;
}
header li.logo {
	font-size: 4em;
    
}
/* aside p {
	border: 1px solid #bbb;
	background: #ddd;
	color: black;
} */

/* aside {
	background: #FAFAFA;
} */